
  <div class="header-wrapper">
    <div class="topbar">
      <div class="container">
        <div>
          <i class="fas fa-phone"></i> +1-206-156-2849
          &nbsp;&nbsp;
          <i class="fas fa-envelope"></i> info@LuminaPlatform.com
        </div>
        <div>
          <a href="#"><i class="fab fa-twitter text-white me-2"></i></a>
          <a href="#"><i class="fab fa-facebook-f text-white me-2"></i></a>
          <a href="#"><i class="fab fa-youtube text-white"></i></a>
        </div>
      </div>
    </div>
<nav class="navbar navbar-expand-lg">
  <div class="container px-0 mx-auto d-flex justify-content-center align-items-center">
    <div class="navbar-left">
      <a class="navbar-brand fw-bold" href="#">
        <img src="../assets/images/logo/logo-icon.png" alt="Logo" width="80" />
        <span>Lumina</span>
      </a>
    </div>
    <div class="collapse  my-nav  navbar-collapse  justify-content-center navbar-center" id="navbarNav">
      <ul class="navbar-nav mb-2  mb-lg-0">
<li class="nav-item"><a class="nav-link active" href="../index.html">Home</a></li>
<li class="nav-item"><a class="nav-link" href="../pages/campaigns.html">Campaigns</a></li>
<li class="nav-item"><a class="nav-link" href="../pages/causes.html">Special Causes</a></li>
<li class="nav-item"><a class="nav-link" href="../pages/success-stories.html">Success Stories</a></li>
<li class="nav-item"><a class="nav-link" href="../pages/news.html">News</a></li>
<li class="nav-item"><a class="nav-link" href="../pages/gallery.html">Gallery</a></li>
<li class="nav-item"><a class="nav-link" href="../pages/about.html">About</a></li>
<li class="nav-item"><a class="nav-link" href="../pages/contact.html">Contact</a></li>
<li class="nav-item"><a class="nav-link" href="../pages/events.html">Events</a></li>

      </ul>
    </div>


    <div class="navbar-right d-none d-lg-block">
      <a id="my-profile-link" href="" class="btn btn-outline-white">MyProfile</a>
    </div>
    
  </div>
</nav>

  </div>